body{
	font-family:sans-serif;
}
h1{
	text-align:center;
	color:skyblue;
	margin:40px 0 50px;
}
.mynav{
    width:auto;
    height:90px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.mynav img{
    width:300px;
    height:70px; 
 } 
.gallery{
    margin:10px 50px;
}
.gallery img{
    width:300px;
    height:300px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 2s;
    
}
.gallery img:hover{
    filter:grayscale(0);
    transform: scale(1.1);
}
